<!DOCTYPE html>
<html lang="zh-CN">
<meta charset="UTF-8">
<script src="../public/javascripts/jquery-2.1.1.min.js"></script>
<script src="../public/javascripts/semantic.min.js"></script>
<link href="../public/stylesheets/semantic.min.css" rel="stylesheet" media="screen">
<head>
    <title>JIECHE-LOGIN</title>
</head>
<body>
    <div class="ui two column middle aligned relaxed grid basic segment">
        <div class="center aligned column">
            <div class="huge red ui labeled icon button">
                <i class="signup icon"></i>
                客户信息
            </div>
        </div>
        <div class="ui vertical divider">
            OR
        </div>
        <div class="center aligned column">
            <div class="huge green ui labeled icon button">
                <i class="signup icon"></i>
                开始接车
            </div>
        </div>
    </div>
</body>
</html>